.loadingpage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadContainer{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadLogo{
    width: 5rem;
    height: 5rem;
    transform: rotate(50deg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anime2 3s 1s  1 linear ;
    border-radius: 10px;
}

@keyframes anime2{
 0%{
   border-top: 5px solid var(--green);
 }
 25%{
    border-right: 5px solid var(--green);
 }
 50%{
     border-bottom: 5px solid var(--green);
 }
 75%{
     border-left: 5px solid var(--green);
 }
 100%{
  
    border: 5px solid var(--green);
 }
}

.l{
  font-size: 45px;
  border-radius: 20px;
  transform: rotate(-50deg);
  color: var(--green);
  animation: anime1 3s 1 ease-in;
  }
  @keyframes anime1{
  0%{
     opacity: 0;
  }
  50%{
     opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
     opacity: 1;
  }
  }