.intro{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.introContainer{
  height: 70%;
  width: 100%;;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.introName{
    font-size:18px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: var(--green);
}
.introName2{
   font-size: clamp(40px, 8vw, 70px);
   font-weight: 600;
   color: var(--lightestSlate);
   line-height: 1.1;
}
.introAbout{
    font-size: clamp(40px, 8vw, 60px);
    color: var(--slate);
    line-height: 0.9;
 }
 .introAbout2{
    font-size: 18px;
    width: 60%;
    color: var(--slate);
    max-width: 540px;
    word-spacing: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 button{
   font-size:17px;
   padding: 1rem 3rem;
   border:1px solid var(--green);
   color: var(--green);
   border-radius: 5px;
 }
 button:hover{
     background-color: var(--lightestNavy);
 }

 @media only screen and (max-width: 750px){
     .intro{
         padding: 0 20px;
     }
   .introAbout2{
       width: 90%;
       text-overflow: clip;
       margin-bottom: 3rem;
   }
}

/* about Section --------------------- */

.about{
    width: 100%;
    height: 60vh;
    position: relative;
}
.aboutInfo{
    width: 60%;
}
.aboutInfo>h1{
    color: var(--green);
    font-family: var(--font-mono);
    margin-top: 8rem;
}

.aboutInfo>h1>span{
    color: var(--lightestSlate);
}

.aboutInfo > p {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: var(--slate);
    font-family: var(--font-sans);
    line-height: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aboutImg{
    width:15rem;
    height: 15rem;
    position: absolute;
    top: 4%;
    right:0;
    border-radius: 10px;
    z-index: 20;
}
.imgCon{
    width:15rem;
    height: 15rem;
    position: absolute;
    top: 6%;
    right:-2%;
    border-radius: 10px;
    border: 1px solid var(--green);
}
@media only screen and (max-width: 500px){
    
}
@media only screen and (max-width: 800px){
    .intro{
        margin-top:10vh;
        height: 80vh;
    }
    .introName{
        margin-bottom: 1rem;
    }
    .introName2{
        margin-bottom: 2rem;
    }
    .introAbout2{
        margin-top: 1rem;
        width: 100%;
    }

    .about{
        padding: 0 20px;
        position: relative;
        height:130vh;
    }
    .aboutInfo{
        width: 100%;
    }
    .aboutImg{
        width:15rem;
        height: 15rem;
        position: absolute;
        top:70%;
        left:20%;
    }
    .imgCon{
        width:15rem;
        height: 15rem;
        position: absolute;
        top:70%;
        left:23%;
    }
    
}



